<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat en Temps Réel</title>
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Chat en Temps Réel</h1>
  <div id="chat-window">
    <ul id="messages">
      <% messages.forEach(message => { %>
        <li><strong><%= message.username %>:</strong> <%= message.message %> <small>(<%= message.datetime %>)</small></li>
      <% }); %>
    </ul>
  </div>

  <input id="m" autocomplete="off" placeholder="Écrire un message" />
  <button>Envoyer</button>

  <script>
    const socket = io();
    const username = "<%= username %>"; // Passer le nom d'utilisateur depuis la page de chat

    document.querySelector('button').onclick = () => {
      const msg = document.querySelector('#m').value;
      socket.emit('chatMessage', msg, username);
      document.querySelector('#m').value = '';
    };

    socket.on('chatMessage', (data) => {
      const li = document.createElement('li');
      li.innerHTML = `<strong>${data.username}:</strong> ${data.message} <small>(${data.datetime})</small>`;
      document.querySelector('#messages').appendChild(li);
    });
  </script>
</body>
</html>
